.tagPickerGridBodyContainer {
    min-height: auto;
}

.tagPickerGridContainer {
    border-bottom: 1px solid rgb(216, 216, 216);
    min-height: 42px;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

.tagPickerGridComponent .ms-BasePicker-text {
    border-color: rgb(207, 205, 204);
}

.tagPickerGridComponent .ms-TagItem {
    margin: 4px 4px 4px 0px;
}

.tagPickerGridComponent i {
    height: 14px;
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: 14px;
}

.tagPickerGridComponent label {
    color: rgb(68, 68, 68);
    font-weight: 400;
    margin-right: 0.75em;
    text-align: left;
    white-space: normal;
    width: 150px;
}